
<header class="siteHeader">
    <div class="wrapper">
        <button type="button" class="siteHeader-mobileBtn">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
        <a href="/" class="siteHeader-logo">
            <img src="/dist/img/hitched-logo.svg" height="30" width="130" border="0" alt="hitched.co.uk" title="hitched.co.uk" />
        </a>
        <div class="siteHeader-btns">
            <a href="#">
                <span class="fa fa-fw fa-user"></span>
            </a>
            <button type="button">
                <span class="fa fa-fw fa-search"></span>
            </button>
        </div>
        <nav class="siteNav">
            <ul class="siteNav-list">
                <li class="siteNav-listItem">
                    <a href="#" class="siteNav-link">Inspiration</a>
                </li>
                <li class="siteNav-listItem">
                    <a href="#" class="siteNav-link">Venues</a>
                </li>
                <li class="siteNav-listItem">
                    <a href="#" class="siteNav-link">Suppliers</a>
                </li>
                <li class="siteNav-listItem">
                    <a href="#" class="siteNav-link">Bridalwear</a>
                </li>
                <li class="siteNav-listItem">
                    <a href="#" class="siteNav-link">Speeches</a>
                </li>
                <li class="siteNav-listItem">
                    <a href="#" class="siteNav-link">Forums</a>
                </li>
            </ul>
        </nav>
    </div>
</header>