<link rel="stylesheet" href="/dist/css/style.css" />

<style>
    body {
        background: #e5e5e5;
    }

    .container {
        margin: 3em auto 0;
        max-width: 960px;
    }
</style>

<div class="container">
    <h1>Sorry, something went wrong.</h1>
    <p>{{data}}</p>
</div>